[Desktop Entry]
Type=Application
Name=OnTheSpot
GenericName=Music downloader
Comment=Simple and easy to use audio media downloader
Icon=casual_onthespot
Exec=python3 -m onthespot
Categories=Utilities
