async-timeout
certifi
charset-normalizer
defusedxml
idna
ifaddr
librespot @ git+https://github.com/kokarare1212/librespot-python
music-tag
mutagen
packaging
Pillow
protobuf
pycryptodomex
PyOgg
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt5-stubs==5.15.6.0
pyxdg
requests
show-in-file-manager
urllib3
websocket-client
zeroconf
